.navbar {
  width: 100%;
  display: flex;
  margin: 0;
  color: #000;
  background: #7b7b7b;
  font-size: 16pt;
}

.navbar a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  padding: 0.25em 0.5em;
}

.navbar a:hover {
  background: #222;
  color: #eee;
}

.page {
  width: 100%;
  display: grid;
  place-items: center;
  padding: 0.5em;
}

.homepage {
  grid-auto-flow: row;
  gap: 0.5em;
}

.card {
  border: #7b7b7b solid 2px;
  width: 100%;
  border-radius: 10px;
  padding: 0.5em;
  display: grid;
  grid-template-columns: 2fr 1fr 8ch;
  place-items: center;
}

.card-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.category-text {
  font-size: 12pt;
  color: #7b7b7b;
}

.qty-input {
  width: 100%;
  padding: 0.1em;
  border-radius: 5px;
  font-size: 16pt;
}

.customer-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.25em;
  padding: 1em;
  border: #000 solid 2px;
}

.customer-form label {
  font-weight: bold;
}

.purchase-btn {
  width: 10em;
  font-size: 24pt;
  background: greenyellow;
  border-radius: 5px;
}

.purchase-btn:active {
  background: hsl(84, 100%, 50%);
}

.loc-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 24pt;
}

.loc-table thead {
  font-weight: bold;
}
.loc-table tr:nth-child(even) {
  background: #b6b6b6;
}

.loc-table td {
  padding: 0.2em;
}
